.container{
    margin: 0px;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 100%;
    }
}  

.nav{
  gap: 50px;
}

.navbar-brand{
  padding-left: 20px;
  font-size: 35px;
}

.navbar-link{
  font-family: 'Oswald', sans-serif;
}

.navbar-button{
  padding-right: 20px;
  font-family: 'Oswald', sans-serif;
}